@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: "norsebold";
    src: 
        url(fonts/norse-bold-webfont.woff2) format("woff2"),
        url(fonts/norse-bold-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-columns: 3fr 7fr;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 2rem;
    font-weight: 500;
    padding: 7rem 15rem 0 10rem;
}

.left {
    background-color: #596D48;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.credits {
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    color: #fff;
    width: 100%;
    justify-content: center;
    padding: 5px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1rem;
}

.credits a {
    color:#fff;
}

.logo-container {
    display: flex;
    position: absolute;
    top: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-container p {
    font: 10rem "norsebold", sans-serif;
    color: #fff;
}

.logo-container img {
    width: 10rem;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 3em;
    font-family: "Roboto", Arial, sans-serif;
}

main {
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 5rem;
    padding: 1rem 0 2rem 10rem;
}

form label {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

form label::after {
    content: "*";
    color: red;
}

.instructions {
    grid-column: span 2;
    align-self: center;
    font-size: 2rem;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-row input {
    width: 35ch;
    font-size: 1.5rem;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 4px;
}

.form-row input:focus {
    outline: none;
    border: 1px solid steelblue;
    box-shadow: 0 2px 5px rgba(0, 0, 255, 0.2);
}

.form-row.invalid input {
    border: 1px solid red;
}

.form-row.invalid p {
    visibility: visible;
}

.form-row.valid p {
    visibility: hidden;
}

.form-row.valid input {
    border: 1px solid green;
}

.submit {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-left: 10rem;
}

.submit button {
    align-self: flex-start;
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    background-color: #596D48;
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
    cursor: pointer;
}

.submit p {
    font-size: 1.5rem;
}

.submit a {
    color: #596D48;
    font-weight: 500;
}

.error {
    color: red;
    visibility: hidden;
    white-space: pre-line;
    height: 2rem;
}